/* HEADER */
.header-ulima {
    background: #FA7525;
    padding: 5px; 
    width: 100%;
    box-shadow: 0px 0px 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#header-ulima-title{
    background: #FA7525;
    color: white;
    font-family: 'Roboto';
    font-size: 2em;

    font-weight: 500;
    /* line-height: 32px; */
    letter-spacing: 0.15px;
    word-wrap: break-word;
}

.estrellas {
    width: 2rem;
    color: aliceblue;
}

#hamburguesa{
    width: 3rem;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
#menuHamburguesaLabel{
    background: #FA7525;
    font-family: 'Roboto', 'Arial Black';
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
    
}

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
.menu{
    font-family: 'Roboto';
    font-size: 1em;
}

/* .offcanvas-body .nav-link{
    background-color: #ffd1b5;
} */

/* SIDEBAR */
#logo{
    width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.link-lateral{
    text-indent: 1em;
    line-height: 3rem;
}

#portadapeli{
    margin-left: 12px;
    margin-top: 8px;
    border-radius: 7px;
}

#buscador{
    /* margin-left: 20px;
    margin-right: 10px; */
    /* border-radius: 5px; */
    /* border: 1px solid rgb(216, 216, 216); */
    /* padding: "0.5em"; */
    height: 1em;
    /* width: 75%; */
}

#confir{
    border: 1px dashed #ff6200;
    background-color: #FA75250A;
    border-radius: 7px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FA7525;
    margin-left: 20px;
    margin-right: 10px;
}

#botonmodal{
    margin-left: auto;
    border: 0px;
    background-color: transparent;
    color: rgb(0, 119, 255);
}

ul{
    list-style: none;
    list-style-image: url(./assets/estrenegra.png);
    margin-left: 40px;
}

#imagensala{
    border-radius: 7px;
}

a {
    text-decoration: none;
    color: black;
}
