.card {
    background-color: rgba(0, 0, 0, 0);
}

.card-deck .card{
    display: inline-block;
    width: 40%;
    margin-left: auto;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-deck .card-title{
    font-weight: 550;
    /* border: 0px dotted; */
}

.horario {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(23, 162, 255)
}

.btn {
    margin: 0;
    /* background-color: rgb(255, 216, 159); */
    color: black;
    margin-right: 0.5em;
    border: 1px solid black;
}

.indent{
    margin-left: 2em;
    /* margin-right: 1em; */
}

.movie-sinapsis{
    margin-top: 1em;
}

.boton-index{
    margin-right: 1em;
    background-color: rgb(255, 115, 0);
    color: white;
    font-weight: bold;
}

.boton-index:hover{
    background-color: white;
    color: rgb(165, 165, 165);
    border: 1px solid black;
}

.boton-hora:hover{
    background-color: white;
    border: 1px solid black
}

.movie-footer{
    height: auto;   
    padding: 1em;
}

.pelicula {
    background-color: rgba(0, 0, 0, 0);
}

.index-card .card-img-top{
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    /* transition: 0.5s; */
    transition: transform 0.3s, filter 0.3s ease-in-out;
    transform-origin: center center;
    filter: brightness(80%);
}

/* iluminar la sala con hover */
.index-card .card-img-top:hover{
    transition: transform 0.3s, filter 0.3s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
}

.carta-img {
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    transition: 0.5s;
}

.pelicula:hover > .carta-img {
    height: 400px;
    transition: 0.3s;
}