.card-deck .card{
    display: inline-block;
    width: 40%;
    margin-left: auto;
    margin-right: 30px;
    
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-deck .card-title{
    font-weight: 550;
    /* border: 0px dotted; */
}

.card {
    background-color: white;
}

.horario {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(23, 162, 255)
}

.btn {
    margin: 0;
    background-color: rgb(255, 216, 159);
    color: black;
    margin-right: 0.5em;
    border: 1px solid black;
}

.indent{
    margin-left: 2em;
    /* margin-right: 1em; */
}

.movie-sinapsis{
    margin-top: 1em;
}

.boton-index{
    margin-right: 1em;
    background-color: rgb(165, 165, 165);
    color: white;
    font-weight: bold;
}

.boton-index:hover{
    background-color: white;
    color: rgb(165, 165, 165);
    border: 1px solid black;
}

.boton-hora:hover{
    background-color: white;
    border: 1px solid black
}

.movie-footer{
    height: auto;   
    padding: 1em;
}


.pelicula {
    background-color: rgba(255, 255, 255, 0.615);
}

.pelicula:hover{
    background-color: antiquewhite;
    transition: background-color 0.3s;
}

.carta-img {
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    transition: 0.5s;
}
/*
<<<<<<< HEAD
.carta-img:hover{
=======
.pelicula:hover > .carta-img {
>>>>>>> 6c40ad1d61b5a2385981b27372f5667b8ee268a1
    height: 500px;
    transition: 0.3s;
}*/