/* HEADER */
.header-ulima {
    background-color: rgb(250, 121, 0);
    padding: 16px; 
    width: 100%;
    box-shadow: 0px 0px 5px;
}

#header-ulima-title{
    background-color: rgb(250, 121, 0); 
    color: white;

    font-family: 'Luckiest guy', 'Arial';
    font-size: 2em;

    font-weight: 500;
    /* line-height: 32px; */
    letter-spacing: 0.15px;
    word-wrap: break-word;
}

.estrellas {
    width: 2rem;
    color: aliceblue;
}

#hamburguesa{
    width: 3rem;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
#menuHamburguesaLabel{
    color: rgb(250, 121, 0);
    font-family: 'Luckiest Guy', 'Impact';
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
    
}

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
.menu{
    font-family: 'Patrick Hand', 'Arial';
    font-size: 1em;
}

.offcanvas-body .nav-link{
    background-color: #ffd1b5;
}

/* SIDEBAR */
#logo{
    width: 128px;
    height: 127px;
}


#jul{
    margin-left: 55px;
}

.link-lateral{
    text-indent: 30px;
    line-height: 2rem;
}

/* #botore{
    border-radius: 5px;
    border: 0px;
    background-color: rgb(250, 121, 0);
    color: white;
    font-family: Arial;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 2px 5px -2px rgb(0, 0, 0,7);
} */

#portadapeli{
    margin-left: 12px;
    margin-top: 8px;
    border-radius: 7px;
}

#buscador{
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 7px;
    width: 75%;
}

#ubi{
    color: rgb(0, 119, 255);
}


#confir{
    border: 1px dashed #ff6200;
    background-color: #FA75250A;
    border-radius: 7px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FA7525;
    margin-left: 20px;
    margin-right: 10px;
}

#botonmodal{
    margin-left: auto;
    border: 0px;
    background-color: transparent;
    color: rgb(0, 119, 255);
}

ul{
    list-style: none;
    list-style-image: url(./assets/estrenegra.png);
    margin-left: 40px;
}

#imagensala{
    border-radius: 7px;
}

/**/

.card-deck .card{
    display: inline-block;
    width: 40%;
    margin-left: auto;
    margin-right: 30px;
    
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-deck .card-title{
    font-weight: 550;
    /* border: 0px dotted; */
}

.horario{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(23, 162, 255)
}

.btn{
    background-color: rgb(228, 228, 228);
    margin: 3px;
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
    color: black;
}

/* xd */
/* .contenido{
    background-image: url("../../parte-reserva/F-_8BIHWUAAZ9-l.jpg");
} */