#todo{
    padding-left: 10px;
}

.cajate{
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sali{
    color: blue;    
    margin-right: 2em;    
}

#img{
    display: block;
    align-items: center;
    margin: 0 auto;
    /* max-width:230px;
    max-height:95px; */
    border-radius:5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
    width: 80%;
    height: auto;
    /*    ;
    background: var(--action-active, rgba(0, 0, 0, 0.56));
    display: flex;
    height: 286px;
    width: 384px;
    padding: var(--none, 0px);
    justify-content: center;
    align-items: center;
    gap: var(--none, 0px);
    flex-shrink: 0;
    align-self: stretch; */
}
