
.titu{
    padding-left: 50px;
}

.sinopsis{
    margin-right: 50px;
}

.boton_sinop{
    background: #00000014;
    border-radius: 100px;
    margin-right: 5px;
}

.contenido{
    padding-left: 10px;
}

.ubi{
    color: #2196F3;
}

.horarios{
    border: 1px dashed #9747FF;
    border-radius: 5px;
    background: #9747FF0A;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #9747FF;
    margin-right: 10px;
}

.contenido_salas{
    padding-left: 55px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contenido{
    margin-left: 180px;
}

.boton_abre{
    background: #BDBDBD;
    color: white;
    margin-right: 10px;
    width: 40px; 
    height:40px; 
    border: 0px; 
    border-radius: 4px
}
